---
export interface Props {
  href?: string;
  type?: "button" | "submit" | "reset";
  variant?: "primary" | "outline";
  disabled?: boolean;
}
const { href, type = "button", variant = "primary", disabled } = Astro.props;
---

{href
  ? <a href={href} class={`btn btn--${variant}`}><slot /></a>
  : <button type={type} class={`btn btn--${variant}`} disabled={disabled}><slot /></button>
}